@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

// Global use

$font-family:'Titillium Web', sans-serif;;

$main-bg-color: black;

$main-bg-inner-color: black;

$main-text-color: white;

$main-breadtxt-color: rgba(255, 255, 255, 0.514);

$main-error-text: red;

$green-main-color: #00F9B6;

$main-border-color: rgba(255, 255, 255, 0.11);


// Nav colors

$nav-color: black;

$nav-text-color: #fff;

$nav-mobile-color: black;

$side-nav-color: #0A1D1C;

$side-nav-border: #1F5E5B;


// Forms

$form-inner-txt: #555;

$form-bc-color: #fff;

$form-border-color: #ccc;

$button-txt-color: white;

$figure-bg-color: white;

$button-pink-color: #D10061;

// Footer

$footer-bg-color: #393939;

$footer-txt-color: white;


// Others

$fa-chevron: whitesmoke;
