// Utilities
@import "../../utilities/named_variables.scss";

.checkoutwrap{
width: 65%;
text-align: center;
padding-left: 30%;

input{
display: inline;
width: 15vw;
height: 3vw;
border-radius: 5px;
font-size: 1vw;
outline: none;
border: none;
border: 2px solid $side-nav-border;
background-color: $side-nav-color;
color: $green-main-color;
border-radius: 4px;
margin-top: 2.8%;
}
}

.formheader{
margin-right: 40%;
margin-bottom: 5%;
}

.checkoutgrid{
display: grid;
grid-template-columns: 33% 23% 23%;
}

.errormsg{
color: $button-pink-color;
}

.post-button{
width: 9vw;
height: 3vw;
border-radius: 5px;
background-color: $green-main-color;
cursor: pointer;
outline: none;
border: none;
font-size: 1.2vw;
}

@media screen and (max-width: 992px) {

    .checkoutwrap{
    width: 25%;
    text-align: center;
    padding-left: 25%;
    }

    .formheader{
    margin-right: -100%;
    }

    .post-button{
    margin-top: 5%;
    width: 15vw;
    height: 6vw;
    font-size: 3vw;
    }

    .checkoutgrid{
    display: grid;
    grid-template-columns: 100%;

    input{
    display: block;
    width: 55vw;
    height: 6vw;
    margin-top: 10%;
    margin-top: 10%;
    font-size: 2.2vw;
    }
    }

}